.postPicture {
  width: 100%;
  border-radius: 0.5rem;
}

.container {
  padding: 1rem;
}
.title {
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}
.date {
  color: grey;
  text-align: end;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
}
.comment {
  color: grey;
  font-style: italic;
  text-align: center;
}
.content {
  margin-top: 1rem;
}
.titleSecond {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: solid 2px #fb6565;
  padding: 0.8rem;
}
.titleThird {
  color: #fb6565;
  font-style: italic;
  font-size: 1.4rem;
}
.commentCount2 {
  font-size: 1rem;
  font-weight: 300;
}
.SignButton {
  width: 250px;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.chips {
  display: flex;
  padding: 0.5rem;
}
.cardFooter {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.authorInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cardContent {
  padding: 1rem;
  margin: 0;
  color: grey;
}
.authorName {
  font-weight: bold;
  margin: 0.5rem;
}

.cardDetails {
  display: flex;
  flex-direction: column;
}
.commentCount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.commentCountNum {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  background-color: grey;
  color: white;
  width: 25px;
  height: 25px;
}
