.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.title {
  color: white;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 2rem 0;
}
